{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

<form class="form form-horizontal ajax-form" action="{{ path('category_edit', {id: item.id}) }}" method="post" data-target="#categoryDetail" data-reload-tree="#categoryTree">

    {{ form_widget(form) }}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" type="submit">Update</button>
            <button class="btn btn-default" type="reset">Reset</button>
        </div>
    </div>

</form>
        
<a class="btn btn-danger ajax-link pull-right" href="{{ path('category_view', {id: item.id}) }}" data-target="#categoryDetail">Cancel</a>