
<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#productTypeTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: Routing.generate('producttype_list'),
                type: 'POST'
            },
            "columns": [
                {"data": "code", "name": "p.code"},
                {"data": "name", "name": "p.name"},
                {"data": "productCount", "name": "productCount", "bSortable": false}
            ]
        });

        $('#productTypeDetailRow').on('click', 'button.close', function () {
            $('#productTypeDetailRow').hide();
            $('#productTypeTableRow').slideDown();
        });

        $('#productTypeTable tbody').on('click', 'tr', function () {
            if ($(this).hasClass('active')) {
                $(this).removeClass('active');
            } else {
                table.$('tr.active').removeClass('active');
                $(this).addClass('active');
            }

            $('#productTypeTableRow').slideUp();
            $('#productTypeDetailRow').show();

            var data = table.row(this).data();

            $('#productTypeDetail').html('<br><img class="center-block" src="{{ asset('images/loading.gif') }}"><br>');

            $('#productTypeDetail').load(Routing.generate('producttype_view', {id: data.id}), function (d) {
                $('.dataTable').DataTable();
            });
        });
    });
</script>

<br>

<div class="row" id="productTypeTableRow">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">All Product Types</div>
            <div class="panel-body">

                <table id="productTypeTable" class="table table-responsive display" width="100%">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Products</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Products</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row" id="productTypeDetailRow" style="display: none;">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Product Type Detail
            </div>
            <div class="panel-body" id="productTypeDetail"></div>
        </div>
    </div>
</div>
