{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">

        <div class="col-lg-12">
            <h1>Williams Trading System</h1>

            <p>Welcome to the Williams Trading System.  This website is for the
                management of Williams Trading.  Unauthorized access is prohibited.</p>
        </div>

    </div>

{% endblock %}
