{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

<form class="form form-horizontal ajax-form" action="{{ path('user_change_password', {id: item.id}) }}" method="post" data-target="#userDetail">

    {{ form_widget(form) }}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" type="submit">Submit</button>
            <button class="btn btn-default" type="reset">Reset</button>
        </div>
    </div>

</form>

<a class="btn btn-danger ajax-link" href="{{ path('user_view', {id: item.id}) }}" data-target="#userDetail"><i class="fa fa-arrow-left"></i> Back</a>